.result-detail-background {
  width: 100%;
  max-width: 36.6rem;
  
  padding: 2.4rem 0.8rem 1.6rem;
  margin: 2rem auto 0.4rem;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
}

.result-detail-title {
  width: 13.2rem;
  height: 2.8rem;
  font-size: 1.4rem;
  line-height: 1.5rem;
  margin: -3.7rem auto 1rem;
  padding: 0.15rem 0 0 0;
  background: #00365f;
  border: 0.2rem solid #00a8ff;
  border-radius: 2rem;
}