.common-button {
  all: unset;
  box-sizing: border-box;
  font-size: 2.4rem;
  text-align: center;
  color: white;
  outline: 0.3rem solid rgba(0, 0, 0, 0.5);
  border-radius: 1.5rem;

  cursor: pointer;
}

.common-button:disabled {
  background: var(--color-null);
  
  cursor: default;
}

.common-button.xSmall {
  font-size: 1.8rem;
  width: 21.6rem;
  height: 3.6rem;
}

.common-button.small {
  width: 21.6rem;
  height: 4.6rem;
}

.common-button.medium {
  width: 22rem;
  height: 5.6rem;
}

.common-button.large {
  width: 30.4rem;
  height: 5.6rem;
}

button > span {
  pointer-events: none;
}