.gradient-fonts {
  display: block;
  font-size: inherit;
  font-weight:bold;
  
  position:relative;
}

/* 윤곽선이 되는 배경 */
.gradient-fonts::before {
  content: attr(data-text);
  display: inline-block;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-background-clip: text;
  background-clip: text;
  color:transparent;

  -webkit-text-stroke: 0.5rem transparent;    
}

/* 폰트를 차지하는 배경 */
.gradient-fonts::after {
  content: attr(data-text);
  display: inline-block;
  /* width: 100%; */
  background-image: linear-gradient(#fff, #aef0ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  
  position:absolute;
  left: 0;
  right: 0;
}
