.survey-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  width: 100%;
  height: 100%;
}

.survey-image {
  width: 27.6rem;
  margin: 1.5rem 0 0.6rem 0;
}

.survey-content {
  max-width: 34.2rem;
  font-size: 1.8rem;
  line-height: 3rem;
  margin-bottom: 1.5rem;
}

.survey-wrapper > button {
  margin-top: 1.6rem;
}