.header-title {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  line-height: 33.45px;

  position: relative;
}

.header-back-button {
  all: unset;
  width: 30px;
  height: 30px;
  background-image: url("../../assets/images/backward-arrow.png");
  background-size: 30px 30px;
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 1000;

  cursor: pointer;
}