.survey-result-container {
  width: 100%;
  max-width: 390px;
  height: 100%;
  top: 0;
  background: var(--color-background);
  
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;

  animation: slideIn linear 0.3s;
}

.survey-result-wrapper {
  width: 100%;
  position: absolute;
  padding: 0 12px;

  min-height: 70rem;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

.survey-result-content-wrapper > img {
  float: left;
  width: 110px;
}

.survey-result-content-wrapper > p {
  max-height: 110px;
  font-size: 1.2rem;
  line-height: 2.2rem;
}

.survey-result-content-wrapper {
  margin: 10px auto 26px;

  display: flex;
  align-items: center;
  justify-content: center;
}