.survey-result-container {
  width: 100%;
  height: 100%;
  top: 0;
  background: var(--color-background);
  
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  
  pointer-events: none;
  animation: slideIn linear 0.3s;
}

.survey-result-wrapper {
  width: 100%;
  padding: 0 1.2rem;
  pointer-events: auto;
}

.survey-result-close-button {
  all: unset;
  font-size: 3rem;

  position: absolute;
  top: 1rem;
  right: 1rem;

}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

.survey-result-content-wrapper > img {
  float: left;
  width: 11rem;
}

.survey-result-content-wrapper > p {
  max-height: 11rem;
  font-size: 1.2rem;
  line-height: 2.2rem;
}

.survey-result-content-wrapper {
  margin: 1rem auto 2.6rem;

  display: flex;
  align-items: center;
  justify-content: center;
}