input[type="radio"] {
  all: unset;
}

.edit-profile-radio-input-label {
  box-sizing: border-box;
  display: block;
  width: 100%;
  
  background: white;
  padding: 1rem;
  font-size: 2rem;
  text-align: center;
  color: black;
}

input:checked + .edit-profile-radio-input-label {
  background: linear-gradient(#fb8ca7, #ee3859);
}