.edit-profile-wrapper {
  width: 100%;
  font-size: 1.6rem;
  color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.edit-profile-image-view {
  width: 107px;
  height: 102px;
  background: url("../../assets/images/css_sprites.png");
  background-size: 351px 336px;
  background-color: #d9d9d9;
  border-radius: 50%;
}

.edit-profile-option-wrapper > .edit-profile-input-wrapper:nth-child(2) > label {
  margin-top: 5px;
}